/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --header-bg-img: url(../images/cover-image-light.png);
  --page-bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-and-footer-color: #ffc2e6;
  --article-text-color: #353430;
  --title-decor-text-color: var(--article-text-color);
  --section-title-text-color: var(--article-text-color);
  --button-text-color: var(--article-text-color);
  --border-button-hower-color: rgba(53, 52, 48, 0.4);
  --decorated-zone-border-color: var(--article-text-color);
}

.theme-light .bulb {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-bg-img: url(../images/cover-image-light.png);
    --page-bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-and-footer-color: #ffc2e6;
    --article-text-color: #353430;
    --title-decor-text-color: var(--article-text-color);
    --section-title-text-color: var(--article-text-color);
    --button-text-color: var(--article-text-color);
    --border-button-hower-color: rgba(53, 52, 48, 0.4);
    --decorated-zone-border-color: var(--article-text-color);
  }

  .bulb {
    visibility: hidden;
  }
}
